<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
@model List<eadp1.Models.Product>


	<title>Fancy Shoe</title>
	@{
        Layout="~/Views/Shared/_Layout.cshtml";	
        }


	<div id="body">
		<div id="contents">
			<h1>Men</h1>
			
            @foreach (var product in Model)
            {   
                <ul id="shirts" class ="preloader">
				<li>
					<a href="#header"><img src= '@product.imgLink' alt="Img" style="width:500px; height:280px"></a> <a href="#header" class="button">Add to cart</a>
					<p>
						@product.brandName <br> <span>Rs. @product.price</span>
					</p>
                    
				</li>
                </ul>
	
            }

		</div>
	</div>
	
