<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->


	
	<title>Register</title>
	@{
        Layout="~/Views/Shared/_Layout.cshtml";	
        }


	
	<div id="body">
		<div id="contents">
			<h2 style="color:green">Your Response is Saved Succesfully ! Thank You. </h2>
		</div>
	</div>
	
